-e git+https://github.com/projectbrain/emokit@08d29a6888a96b49cc4bbb68e2b892edc009c752#egg=emokit&subdirectory=python
-e git+https://github.com/projectbrain/pyhidapi@2f7f07daf33ff2f2a640f821514c6115d482dc05#egg=pyhidapi
future~=0.16.0
numpy~=1.16.0
scipy~=1.2.0
pycrypto~=2.6.1
pyserial~=3.4
pyzmq~=18.0.0
