-e git+https://github.com/projectbrain/emokit@08d29a6888a96b49cc4bbb68e2b892edc009c752#egg=emokit&subdirectory=python
-e git+https://gitlab.com/NF6X_Archive/pyhidapi.git@4dd729929a7612745f7bbc56540b9f13a0f92ede#egg=pyhidapi
future~=0.16.0
numpy~=1.14.2
scipy~=1.0.0
pycrypto~=2.6.1
pyserial~=3.4
pyzmq~=17.0.0
